.Login-Page {
    width: 100%;
    height: 100vh;
}

.right-section-page {
    width: 50%;
    height: 100vh;
    padding: 50px 200px 0 50px ;
    box-sizing: border-box;
}

/* ---- */



/* ---- */

.top-right-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #3A3D42;
    width: 100%;
}

.top-right-parag {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: rgba(58, 61, 66, 0.6);
    width: 100%;
}

.sign-up-parag {
    display: flex;
    padding-top: 50px;
}

.text-error {
    padding : 20px 0;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #FF5B37;
}

.auth-form-label {
    padding-top: 20px;
}

.icon-email {
    padding: 1rem;
    font-size: 20px;
    transform: translate(0px, 50px);
}