.input {
    width: 100%;
    height: 2rem;
    outline: 0;
    border: none;
    border-bottom: 1px solid rgba(169, 169, 169, 0.8);
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #000;
    padding-left: 2.5rem;
    box-sizing: border-box;
    margin: 30px 0;
}


.search-icon {
    position: absolute;
    padding: 1rem;
    font-size: 20px;
}

.close-icon {
    position: absolute;
    font-size: 20px;
    transform: translate(-35px, 15px);
    cursor: pointer;
}

.icon {
    position: absolute;
    padding: 1rem;
    font-size: 20px;
}


.form-search {
    width: 100%;
    height: 3rem;
    outline: 0;
    border: none;
    border-radius: 12px;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #000;
    background-color: rgba(58, 61, 66, 0.1);;
    padding-left: 3rem;
}

.form-search:focus {
    border-color: #000;
}

.form-search::placeholder {
    color: rgba(169, 169, 169, 0.8);
}