.modal {
    display: flex;  
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main-profile {
    position: fixed;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
    background: white;
    width: 40%;
    height: 70%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
  }
  
  .header-modal {
    display: flex;
    flex-direction: row;
    height: 35%;
  }
  
  .header-modal-left , .header-modal-right {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .modal-icon {
    display: flex;
    cursor: pointer;
    font-size: 25px;
    justify-content: end;
  }
  
  .modal-title-profile {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #3A3D42;
    margin-bottom: 10px;
    justify-content: center;
  }
  
  .modal-subtitle-profile {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: rgba(226, 34, 34, 0.6);
    margin-bottom: 10px;
  }
  
  .wrapper-modal {
    display: flex;
    height: 35%;
    align-items: center;
    justify-content: center;
  }
  
  .footer-modal {
    display: flex;
    height: 30%;
    align-items: flex-end;
    justify-content: end;
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
  
  .pin-confirmation-wrapper {
    display: flex;
    justify-content: center;
  }

  .profile-pict-preview {
      width: 200px;
      height: 200px;
  }

  .profile-pict-input {
    z-index: 1;
  }