.Home {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.container-home {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #FAFCFF;
}

.main-section {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 30px;
}

.lower-section {
    width: 100%;
    height: 100%;
    margin: 10px 0;
}
