.box {
    background-color: #FFF;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.font-14 {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #6A6A6A;
}

.font-18 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #3A3D42;
}

.user-picture {
    width: 70px;
    height: 70px;
}