.History {
    width: 50%;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    margin-left: 10px;
}

.transaction-history-title {
    padding: 30px 0 0 30px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #3A3D42;
}

.see-all-title {
    padding: 30px 0 0 30px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #6379F4;
    text-decoration: none;
}

.see-all-title:visited {
    color: #6379F4!important;
    text-decoration: none;
}

.card-list-wrapper {
    height: 290px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card-list-wrapper::-webkit-scrollbar {
    display: none;
}